body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-image: url('images/login.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.login-container {
	width: 100%;
	max-width: 400px;
	padding: 30px;
	background: rgba(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}